/* Basic styling */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.flex-container {
  display: flex;
  flex-direction: row;
  font-size: 30px;
  text-align: center;
}
.flex-about, .flex-home {
  /** background-color: #f1f1f1; **/
  padding: 10px;
  flex: 50%;
}

.flex-item-1 {
  background-color: #f1f1f1;
  padding: 10px;
  flex: 50%;
}
.flex-item-2 {
  background-color: dodgerblue;
  padding: 10px;
  flex: 50%;
}
/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
}

/*Body for 480px and wider*/
@media screen and (min-width: 480px) {
body {
        background-color: lightgreen;
     }
}
/*Default body*/
body {
    font-family: sans-serif;
    font-size: 16px;
}
nav {
    background: #222;
    padding: 0 15px;
}
a {
    color: black;
    text-decoration: none;
    display: inline-block;
    width: 32px;
    height: 32px;
}
.active {
    /** background-color: var(--color-primary);
    color: var(--color-white); **/
    background-color: rgb(255,0,0);
} 
.menu,
.submenu {   
    list-style-type: none;
}
.logo {
    font-size: 20px;
    padding: 7.5px 10px 7.5px 0;
}
.item {
    padding: 10px;
}
.item.button {
    padding: 9px 5px;
}
.item:not(.button) a:hover,
.item a:hover::after {
    color: #ccc;
}

/* Mobile menu */
.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.menu li a {
    display: block;
    padding: 15px 5px;
}
.menu li.subitem a {
    padding: 15px;
}
.toggle {
    order: 1;
    font-size: 20px;
}
.item.button {
    order: 2;
}
.item {
    order: 3;
    width: 100%;
    text-align: center;
    display: none;
}
.active .item {
    display: block;
}
.button.secondary { /* divider between buttons and menu links */
    border-bottom: 1px #444 solid;
}

