{% set navigation_bar = [
    ('/', 'layout', 'Layout'),
    ('/home/', 'home', 'Home'),
    ('/about/','about','About')
] -%}
{% set active_page = active_page|default('home') -%}

{% block nav %}
<ul id="navigation">
    <div class="flex-container">
    {% for href, id, caption in navigation_bar %}
        <li
            {% if id == active_page %} class="active"{% endif %}>
            <a class={{"flex-"~id}} href="{{ href|e }}">{{ caption|e }}</a>
        </li>
    {% endfor %}
    </div>
</ul>

<div class="flex-container">
  <div class="flex-item-left">1</div>
  <div class="flex-item-right">2</div>
</div>
{% endblock nav %}
