<!DOCTYPE html>
<html lang="en">
    <head>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="static/nav.css">
    </head>
    <body>
    <p1>Root</p1>
    <br>
    {% include 'nav.jinja2' %}
    </body>
</html>
